<header class="header">
  <nav class="navbar">
    <!-- Logo -->
    <a href="#inicio" class="navbar-logo"> AARON </a>

    <!-- Navegación -->
    <ul class="navbar-menu">
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/pages/sobre-mi.html">Sobre Mí</a>
      </li>
      <li>
        <a href="#proyectos">Proyectos</a>
      </li>
      <li>
        <a href="/pages/cuaderno.html">Cuaderno</a>
      </li>
    </ul>

    <!-- CV -->
    <a href="/assets/cv/cv.pdf" class="navbar-cv" target="_blank">
      Descargar CV
    </a>
  </nav>
</header>
